
/**
 ----------------------------------------
 See http://animista.net/license for more info. 
 w: http://animista.net, t: @cssanimista
 animation wobble-hor-bottom
 ----------------------------------------
 */

@-webkit-keyframes oscilarOMeuInconeInformacoes {

    0%,
    100% {
        -webkit-transform-origin: 50% 50%;
        -webkit-transform: translateX(0%);
        transform-origin: 50% 50%;
        transform: translateX(0%);
    }

    15% {
        -webkit-transform: translateX(-30px) rotate(-6deg);
        transform: translateX(-30px) rotate(-6deg);
    }

    30% {
        -webkit-transform: translateX(15px) rotate(6deg);
        transform: translateX(15px) rotate(6deg);
    }

    45% {
        -webkit-transform: translateX(-15px) rotate(-3.6deg);
        transform: translateX(-15px) rotate(-3.6deg);
    }

    60% {
        -webkit-transform: translateX(9px) rotate(2.4deg);
        transform: translateX(9px) rotate(2.4deg);
    }

    75% {
        -webkit-transform: translateX(-6px) rotate(-1.2deg);
        transform: translateX(-6px) rotate(-1.2deg);
    }
}

@keyframes oscilarOMeuInconeInformacoes {

    0%,
    100% {
        -webkit-transform-origin: 50% 50%;
        -webkit-transform: translateX(0%);
        transform-origin: 50% 50%;
        transform: translateX(0%);
    }

    15% {
        -webkit-transform: translateX(-30px) rotate(-6deg);
        transform: translateX(-30px) rotate(-6deg);
    }

    30% {
        -webkit-transform: translateX(15px) rotate(6deg);
        transform: translateX(15px) rotate(6deg);
    }

    45% {
        -webkit-transform: translateX(-15px) rotate(-3.6deg);
        transform: translateX(-15px) rotate(-3.6deg);
    }

    60% {
        -webkit-transform: translateX(9px) rotate(2.4deg);
        transform: translateX(9px) rotate(2.4deg);
    }

    75% {
        -webkit-transform: translateX(-6px) rotate(-1.2deg);
        transform: translateX(-6px) rotate(-1.2deg);
    }
}

.adicionarAnimacao {
    -webkit-animation: oscilarOMeuInconeInformacoes infinite 2s both;
    animation: oscilarOMeuInconeInformacoes infinite 2s both;
}