@keyframes mostraPopup {
    0% {
        visibility: hidden;
    }

    25% {
        visibility: visible;
    }

    100% {
        transform: translateX(-150px);
    }
}

.popup__animacao {
    animation: mostraPopup ease-in-out 2s;
}

@keyframes oscilarOMeuInconeInformações {
    0% {
        transform: translateX(2px) rotate(2deg);
    }

    25% {
        transform: translateX(-10px) rotate(-8deg);
    }

    75% {
        transform: translateX(5px) rotate(8deg);
    }

    100% {
        transform: translateX(-2px) rotate(-2deg);
    }
}

.adicionarAnimacao {
    animation: oscilarOMeuInconeInformações infinite ease-in-out 2s;
}