body {
	background: #131722;
	color: #fff;
}

.header__titulo {
	height: 100px;
}

.header__titulo p {
	color: #793c49;
	font-family: 'Oswald', sans-serif;
	margin-top: 25px;
	text-align: center;
}

.main__erros {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 2em;
}

.erros__icone {
	height: 24px;
	visibility: hidden;
	width: 24px;
}

.erros__descricao {
	background: #382327;
	border-radius: 10px;
	color: #ffffff;
	font-size: 16px;
	height: 50px;
	margin-left: 3em;
	padding-top: 25px;
	text-align: center;
	visibility: hidden;
	width: 500px;
}

.popup__copiar {
	display: flex;
	justify-content: end;
	margin-right: 200px;
	visibility: hidden;
}

.popup__copiar div {
	background-color: #26614d;
	border-radius: 5px;
	color: #fff;
	height: 50px;
	text-align: center;
	width: 200px;
}

.popup__copiar h1 {
	cursor: pointer;
	font-size: 20px;
	height: 15px;
	padding-right: 8px;
	padding-top: 4px;
	text-align: end;
}

.campo__criptografar {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.criptografar__input {
	background: #252424;
	border-radius: 15px;
	border: solid 1px #504d4d;
	color: #c2bebe;
	font-size: 17px;
	height: 300px;
	margin-bottom: 2em;
	margin-top: 3em;
	width: 400px;
}

.criptografar__input::placeholder {
	color: #fff;
	position: absolute;
	text-align: center;
	top: 130px;
}

.criptografar__btn {
	background-color: writer;
	background: #483D8B;
	border-radius: 15px;
	border: 10px;
	color: #ffffff;
	height: 40px;
	padding: 2px;
	width: 120px;
}

.criptografar__btn:hover {
	font-size: 18px;
	width: 122px;
}

.criptografar__btn:active {
	font-size: 16px;
	height: 39px;
	width: 119px;
}

.campo__descriptografar {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.descriptografar__input {
	background: #252424;
	border-radius: 15px;
	border: solid 1px #504d4d;
	color: #c2bebe;
	font-size: 17px;
	height: 300px;
	margin-bottom: 2em;
	margin-top: 3em;
	width: 400px;
}

.descriptografar__input::placeholder {
	color: #fff;
	left: 20px;
	position: absolute;
	text-align: center;
	top: 130px;
}

.descriptografar__btn {
	background-color: writer;
	background: #483D8B;
	border-radius: 15px;
	border: 10px;
	color: #ffffff;
	font-size: 17px;
	height: 40px;
	padding: 2px;
	width: 120px;
}

.descriptografar__btn:hover {
	font-size: 18px;
	width: 121px;
}

.descriptografar__btn:active {
	font-size: 16px;
	height: 39px;
	width: 119px;
}

.campo_resultados {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.resultados_input {
	background-color: #252424;
	background-image: url("/assets/img/projetoone.png");
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 17px;
	border: solid 1px #504d4d;
	color: #c2bebe;
	font-size: 17px;
	height: 300px;
	margin-bottom: 2em;
	margin-top: 3em;
	width: 400px;
}

.areaDetransferencia {
	background-image: none;
}

.resultados_btn {
	background: #483D8B;
	border-radius: 15px;
	border: 10px;
	color: #ffffff;
	font-size: 17px;
	height: 40px;
	padding: 2px;
	width: 80px;
}

.resultados_btn:hover {
	font-size: 18px;
	width: 81px;
}

.resultados_btn:active {
	font-size: 16px;
	height: 39px;
	width: 79px;
}

footer {
	background: #131722;
	color: #fff;
	display: flex;
	flex-direction: column;
	height: 150px;
	justify-content: center;
	text-align: center;
	width: 100%;
}

footer  p {
	margin-top: 2em;
}

footer a {
	color: #fff;
}